<mjml>
    <mj-head>
        <mj-preview>New Balance</mj-preview>
        <mj-title>New Balance</mj-title>
        <mj-font name="Montserrat" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap&subset=latin-ext" />
        <mj-attributes>
            <mj-all font-family="Montserrat, Arial" ; align="center"/>
        </mj-attributes>
        <mj-breakpoint width="600px"/>
        <mj-style inline="inline">
            .wrapper {
            border: 1px solid #e9e9e9;
            }
    
            .wrapper-outlook {
            border-right: 1px solid #e9e9e9;
            }
    
            .img-fluid {
            width: 200px;
            }
        
        </mj-style>
        <mj-style>
           
            
            @media only screen and (max-width: 599px) {
            
            .wrapper {
            max-width: 320px!important;
            }
            
            .stopka-wrapper {
            max-width: 320px!important;
            }
            
            .show_on_desktop {
            display:none !important;
            }
            .show_on_mobile, .show_on_mobile-outlook {
            display:block!important;
            }
            .fluid-image {width: 50%!important;}
            }
            
            @media only screen and (min-width: 600px) {
            
            .wrapper {
            max-width: 600px!important;
            }
            }
        </mj-style>
    </mj-head>
    <mj-body background-color="#f7f7f7">
        <mj-wrapper css-class="stopka-wrapper" padding="0px">
            <mj-section full-width="full-width" padding="0px">
                <mj-column>
                    <mj-text font-size="11px" color="#000">
                        Jeżeli poniższy newsletter nie wyświetla się poprawnie, użyj tego
                        <a href="$preview$" style="font-family: Arial; font-size: 11px; color: #8c8c8c; text-decoration: underline;">linku</a>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
        
        <mj-wrapper css-class="wrapper" padding="0px">
            <mj-section padding="20px 10px" background-color="#ffffff">
                <mj-column width="20%" vertical-align="middle" padding="10px 5px">
                    <mj-image href="https://nbsklep.pl/?utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2" align="center" width="88px" src="img/logo.png" padding="0px" background-color="#fff"></mj-image>
                </mj-column>
                <mj-column css-class="show_on_desktop" width="80%" vertical-align="middle">
                    <mj-navbar hamburger="false" text-transform="none">
                        <mj-navbar-link href="https://nbsklep.pl/product_advanced_searcher/search.html?query=&order=created_desc&s%5B2%5D%5B%5D=524&utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2" color="#000000" font-size="13px" font-weight="700" line-height="18px" padding="20px 8px 20px 0px" text-transform="none">Obuwie</mj-navbar-link>
                        <mj-navbar-link href="https://nbsklep.pl/product_advanced_searcher/search.html?query=&order=created_desc&s%5B2%5D%5B%5D=525&s%5B6%5D%5B%5D=13484&utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2" color="#000000" font-size="13px" font-weight="700" line-height="18px" padding="20px 8px 20px 8px" text-transform="none">Odzież sportowa</mj-navbar-link>
                        <mj-navbar-link href="https://nbsklep.pl/product_advanced_searcher/search.html?query=&order=created_desc&s%5B2%5D%5B%5D=525&utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2" color="#000000" font-size="13px" font-weight="700" line-height="18px" padding="20px 8px 20px 8px" text-transform="none">Odzież klasyczna</mj-navbar-link>
                        <mj-navbar-link href="https://nbsklep.pl/product_advanced_searcher/search.html?query=&order=created_desc&s%5B2%5D%5B%5D=526&utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2" color="#000000" font-size="13px" font-weight="700" line-height="18px" padding="20px 0px 20px 8px" text-transform="none">Akcesoria</mj-navbar-link>
                    </mj-navbar>
                </mj-column>
            </mj-section>
    
            <mj-section background-color="#ffffff" padding="0">
                <mj-column>
                    <mj-button font-size="27px" font-weight="400" width="250px" background-color="#153d59" color="#ffffff" inner-padding="20px 20px" padding="20px 0 30px" border-radius="0">
                        Cześć, <b>Ania</b>!
                    </mj-button>
                    <mj-text font-size="21px" line-height="1.4" align="center" font-weight="400" padding="30px 20px 0" color="#1b1b1b" >
                        Dziękujemy za zapisanie się <br>
                        do naszego <b>newslettera</b>.
                    </mj-text>
                    <mj-text font-size="14px" line-height="1.4" align="center" font-weight="400" padding="20px 20px 30px" color="#1b1b1b" >
                        Będziemy Cię informować na&nbsp;bieżąco o&nbsp;<b>nowościach w&nbsp;ofercie</b> <br>
                        i&nbsp;<b>atrakcyjnych promocjach</b>. Tymczasem na&nbsp;dobry początek odwiedź <br>
                        naszą stronę i&nbsp;skorzystaj z&nbsp;<b>kodu rabatowego 10%</b> na&nbsp;pierwsze zakupy.
                    </mj-text>
                    <mj-button font-size="33px" font-weight="700" background-color="#ca2e2e" color="#ffffff" inner-padding="15px 20px" padding="0 0 40px" border-radius="0">
                        XXXXXXX
                    </mj-button>
                    <mj-button href="https://nbsklep.pl/?utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2" font-size="12px" font-weight="900" width="260px" background-color="#ffffff" color="#1f1f1f" border="2px solid #1f1f1f" inner-padding="17px 20px" padding="0 0 30px" border-radius="0">
                        SKORZYSTAJ ZE ZNIŻKI&nbsp;&nbsp;&nbsp;&#x276F;
                    </mj-button>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#191919" padding="20px">
                <mj-column vertical-align="middle" width="400px" padding="10px 0">
                    <mj-text font-size="25px" line-height="1.4" align="center" font-weight="400" padding="0" text-transform="false" color="#ffffff">
                        <b>Zainspiruj</b> się z New Balance:
                    </mj-text>
                </mj-column>
            </mj-section>
            
            <mj-section background-color="#ffffff" padding="0">
                <mj-text padding="0" font-size="0">
                    <a href="https://nbsklep.pl/?utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2"><img class="fluid-image" style="width: 200px; padding: 0; margin: 0; display: inline-block" src="img/nb_foto1.png" alt=""></a>
                    <a href="https://nbsklep.pl/?utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2"><img class="fluid-image" style="width: 200px; padding: 0; margin: 0; display: inline-block" src="img/nb_foto2.png" alt=""></a>
                    <a href="https://nbsklep.pl/?utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2"><img class="fluid-image" style="width: 200px; padding: 0; margin: 0; display: inline-block" src="img/nb_foto3.png" alt=""></a>
                    <a href="https://nbsklep.pl/?utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2"><img class="fluid-image" style="width: 200px; padding: 0; margin: 0; display: inline-block" src="img/nb_foto4.png" alt=""></a>
                    <a href="https://nbsklep.pl/?utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2"><img class="fluid-image" style="width: 200px; padding: 0; margin: 0; display: inline-block" src="img/nb_foto5.png" alt=""></a>
                    <a href="https://nbsklep.pl/?utm_medium=rule&utm_source=salesmanago&utm_campaign=po_zakupie_onboard_mail2"><img class="fluid-image" style="width: 200px; padding: 0; margin: 0; display: inline-block" src="img/nb_foto6.png" alt=""></a>
                </mj-text>
            </mj-section>
            
            <mj-section background-color="#171717" padding="25px 10px">
                <mj-column width="45%" padding="10px">
                    <mj-text font-size="21px" line-height="1.4" align="center" font-weight="700" padding="15px" text-transform="uppercase" color="#ffffff">
                        DOŁĄCZ DO NAS
                    </mj-text>
                </mj-column>
                <mj-column width="20%"></mj-column>
                <mj-column width="35%" css-class="kolumna-100" vertical-align="middle" padding="0">
                    <mj-social font-size="16px" line-height="30px" color="#ffffff" icon-size="30px" icon-height="30px" mode="horizontal" align="center" padding="5px" inner-padding="15px">
                        <mj-social-element src="img/nb_fb.png" href="https://www.facebook.com/NewBalancePoland/">
                        </mj-social-element>
                        <mj-social-element src="img/nb_in.png" href="https://www.instagram.com/newbalancepoland/">
                        </mj-social-element>
                        <mj-social-element src="img/nb_yt.png" href="https://www.youtube.com/channel/UCh2gHe5pbEKQ8Zr_CBH8Msw">
                        </mj-social-element>
                    </mj-social>
                </mj-column>
            </mj-section>
            <mj-section background-color="#505050" padding="20px 0">
                <mj-column css-class="kolumna-100" padding="0px 20px">
                    <mj-text font-size="9px" line-height="13px" color="#a6a6a6" padding="0px">
                        Newsletter pozwala nam informować Cię na&nbsp;bieżąco o&nbsp;tym co może Cię zainteresować. Jeśli nie&nbsp;chcesz pozostawać z&nbsp;Nami w&nbsp;kontakcie, możesz w&nbsp;każdej chwili <a href="$opt-out$" style="color:#aaaaaa;">zrezygnować z&nbsp;subskrypcji</a>.
                        <br><br>
                        Dostajesz tą wiadomość, bo&nbsp;zapisałeś się na&nbsp;newsletter NEW BALANCE POLAND Spółka z&nbsp;ograniczoną odpowiedzialnością z siedzibą w&nbsp;Warszawie, ul.&nbsp;Chłodna 52, 00-872 Warszawa. NEW BALANCE POLAND Spółka z&nbsp;ograniczoną odpowiedzialnością jest
                        zarejestrowana w&nbsp;Sądzie Rejonowym dla&nbsp;M.St.Warszawy w&nbsp;Warszawie, XII Wydział Gospodarczy Krajowego Rejestru Sądowego pod&nbsp;numerem 0000717955, wysokość kapitału zakładowego: 5 000 000 zł, NIP: 5272838323
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>


